@mixin default_font{
    font-family: acumin-pro, sans-serif;
    font-weight: 400;
    font-style: normal;  
}

@mixin thin_font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;  
}


@mixin bold_font{
    font-family: acumin-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}