//
$site_max_width: 1280px;

$font_color_default: #fff;
$font_color_grey: #BDBDBD;
$font_size_12: 0.75em;
$font_size_16: 1em;
$font_size_18: 1.125em;
$font_size_title: 1.7em;

$background_color: #222;
$nav_color: #111;
