//
$site_max_width: 1280px;

// $main_color: #57BC90;
// $sub_color: #77c9d4;
// $dark_color: #015249;
// $grey: #A5A5AF;


$main_color: #1f2833;
$sub_color: #0B0C10;
$point_color: #66fcf1;
$dark_point_color: #45A29E;
$grey: #c5c6c7;