//
$site_min_width: 1280px;
$site_max_width: 1920px;
$site_content_max_width: 1024px;

// $main_color: #57BC90;
// $sub_color: #77c9d4;
// $dark_color: #015249;
// $grey: #A5A5AF;
$post_title_color: #010101;

$main_color: #1f2833;
$sub_color: #0B0C10;
$point_color: #66fcf1;
$dark_point_color: #45A29E;
$grey: #c5c6c7;

$font_def_color: #171717;
$font_act_color: #a60505;
$font_act_hover: #f2132d;


$border_grey_color: #DEDEDE;