// Util
@import "util/_variables";
@import "util/_common";
@import "util/_font";


@import "reset.scss";

body {
    background: $main_color;
    @include default_font;
    color: $font_def_color;
}
.container{
    width: $site_max_width;
    margin: 0 auto;
}
header{
    nav{
        ul{
            display: flex;
            li{
                margin: 10px 10px 13px;
                a{
                    @include thin_font;
                    font-size: 12px;
                    color: $grey;
                    text-decoration: none;
                }
            }
        }
    }
    .title_area{
        background: $main_color;
        padding: 30px 0 40px;
        text-align: center;
        color: #ffffff;
        h1{
            @include bold_font;
            font-size: 50px;
            a{
                transition: all .2s ease;
                &:hover{
                    color: $point_color;
                }
            }
        }
    }
}
.sub_nav{
    padding: 20px 0;
    border-bottom: 1px solid $border_grey_color;
    nav{
        ul.menu_list{
            display: flex;
            justify-content: center;
            li{
                margin-left: 12px;
                a{
                    padding: 12px;
                    font-size: 1em;
                    @include default_font;
                    transition: all .2s ease;

                    &:hover{
                        color:$font_act_color;
                    }
                }
            }
        }
    }
}

.content{
    margin: 30px;
    margin-top: 0;
    padding-bottom: 30px;
    background: #fff;    
}


