// Util
@import "util/_variables";
@import "util/_common";
@import "util/_font";


@import "reset.scss";

body {
    background: $main_color;
    @include default_font;
    // color: $third_color;    
}
.container{
    width: $site_max_width;
    margin: 0 auto;
}
header{
    nav{
        ul{
            display: flex;
            li{
                margin: 10px 10px 13px;
                a{
                    @include thin_font;
                    font-size: 12px;
                    color: $grey;
                    text-decoration: none;
                }
            }
        }
    }
}

.content{
    margin: 30px;
    margin-top: 0;
    height: 980px;// temp code
    background: #fff;
    .container{
        padding-top: 50px;
    }
    .title_area{
        background: $main_color;
        padding: 50px 0 80px;
        text-align: center;
        color: $dark_point_color;
        h1{
            @include bold_font;
            font-size: 50px;
            transition: all .2s ease;
            &:hover{
                color: $point_color;
            }
        }
    }
}

