.columns {
  display: -webkit-box;
  display: flex;
}

.columns .col-1 {
  width: 10%;
}

.columns .col-2 {
  width: 20%;
}

.columns .col-3 {
  width: 30%;
}

.columns .col-4 {
  width: 40%;
}

.columns .col-5 {
  width: 50%;
}

.columns .col-6 {
  width: 60%;
}

.columns .col-7 {
  width: 70%;
}

.columns .col-8 {
  width: 80%;
}

.columns .col-9 {
  width: 90%;
}

.columns .col-10 {
  width: 10%;
}

.wrapper {
  margin-top: 40px;
}

.post_list {
  width: 100%;
  background: #fff;
}

.post_list .post_detail {
  display: -webkit-box;
  display: flex;
  height: 334px;
  margin-bottom: 40px;
  border: 1px solid #DEDEDE;
}

.post_list .post_detail .post_info {
  position: relative;
  width: 100%;
}

.post_list .post_detail .post_info article {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  padding: 0 40px;
  text-align: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.post_list .post_detail .post_info article .post_desc h3 {
  font-size: 1.5em;
  color: #010101;
  font-weight: bold;
}

.post_list .post_detail .post_info article .post_desc h3 a:hover {
  color: #a60505;
}

.post_list .post_detail .post_info article .post_desc .post_tag {
  color: #a60505;
  font-size: 0.9em;
}

.post_list .post_detail .post_info article .post_desc .post_etc {
  position: relative;
  display: -webkit-box;
  display: flex;
  margin: 12px 0 12px;
  font-size: 0.9em;
  -webkit-box-pack: center;
          justify-content: center;
}

.post_list .post_detail .post_info article .post_desc .post_etc .post_author {
  color: #a60505;
}

.post_list .post_detail .post_info article .post_desc .post_etc .post_author i {
  display: inline-block;
  margin-right: 2px;
}

.post_list .post_detail .post_info article .post_desc .post_etc .post_author:after {
  display: inline-block;
  width: 1px;
  height: 10px;
  background: #DEDEDE;
  margin: 0 11px 0 15px;
  border-right: 1px solid;
  background: none !important;
  opacity: 0.6;
  content: "";
}

.post_list .post_detail .post_info article .post_desc .post_etc:after {
  position: absolute;
  display: block;
  top: 24px;
  bottom: 3px;
  left: 46%;
  width: 70px;
  height: 1px;
  background: #a60505;
  content: "";
}

.post_list .post_detail .post_info article .post_desc .description {
  margin-top: 22px;
  font-size: 0.85em;
  line-height: 1.4;
  white-space: pre-line;
}

.post_list .post_detail:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}

.post_list .post_detail.has_image .post_info {
  width: 60%;
}

.post_list .post_detail.has_image .post_info article {
  width: auto;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.post_list .post_detail.has_image .post_info article .post_desc .post_etc:after {
  left: 45%;
}

.post_list .post_detail.has_image .post_image {
  width: 40%;
  overflow: hidden;
}

.post_list .post_detail.has_image .post_image img {
  display: block;
  width: calc(100% + 2px);
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.post_list .post_detail.has_image .post_image:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

